<div class="home-container">
  <div class="welcome-section">
    <h1>Portfolio</h1>
    <p class="subtitle">Welcome to my developer portfolio</p>
    <p class="description">
      Here you will find all my projects with links to their GitHub repositories.<br>
      Explore my work and discover the source code of each project.<br><br>
      Below, you can see the most recently added projects and the latest updates.
    </p>
  </div>
  
  <div class="games-container">
    <div class="games-section">
      <app-game-date-list listType="recent"></app-game-date-list>
    </div>
    <div class="games-section">
      <app-game-date-list listType="updated"></app-game-date-list>
    </div>
  </div>
</div>
