.page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-app {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.router-app {
    flex: 1;
    width: 100%;
    padding: 5%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .router-app {
        padding: 3%;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 480px) {
    .router-app {
        padding: 2%;
        margin-bottom: 1rem;
    }
}

.footer-app {
    width: 100%;
    margin-top: auto;
}
